#container {
    position: relative;
}
#timerConsole, #speakerConsole {
    position: absolute;
    width: 500px;
    height: 600px;
    text-align: center;
    border: 5px solid black;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}
#speakerConsole {
    width: 600px;
    height: 600px;
    left: 500px;
    top: 0px;
}
#timerConsole table {
    width: 100%;
    border-collapse: collapse;
}
#timerConsole table,
#timerConsole th,
#timerConsole td {
    border: 1px solid black;
}
#timerConsole td {
    padding: 5px;
    width: 25%;
}
#box_green, #box_orange, #box_red {
    width: 20px;
    height: 20px;
    border: 2px solid black;
}
#colorDivs div {
    margin-left: auto;
    margin-right: auto;
}
#A, #A1, #A2 {
    font-weight: bold;
    font-size: 25px;
}
#A {
    font-size: 50px;
}
#timerConsole #b_t_up, #b_t_down, #b_s_up, #b_s_down {
    width: 75px;
    height: 75px;
}
#timerConsole #b_start, #b_pause, #b_repeat {
    width: 100px;
    height: 100px;
}
#timerConsole #openPublic, #closePublic {
    width: 170px;
    height: 25px;
}
#colorDivs {
    border-collapse: collapse;
}
#countriesAll, #countriesSpeaking {

    width: 300px;
    height: 600px;
    text-align: center;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}
#countriesAll table {
    width: 300px;
}
#countriesAll {
    background-color: white;
    position: absolute;
    left: 0px;
    top: 0px;
}
#countriesSpeaking {
    position: absolute;
    left: 300px;
    top: 0px;
    background-color: #00365b;
    color: white;
}