/*In absolute positioning for FHD (1920x1080)*/
body {
    margin: 0;
}
html {
    overflow: hidden;
}
#container {
    /*background-color: #00558f;*//*(WHO public website blue)*/
    background-color: #00365b; /*(WHO public website blue-darker)*/
    width: 1920px;
    height: 1080px;
    position: relative;
    overflow: hidden;
}
/*timerArea*/
#timerArea {
    position: absolute;
    width: 1279px;
    height: 863px;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    /*background-color: pink;*/
}
#timerGroup {
    position: absolute;
    width: 400px;
    height: 320px;
    top: 272px;
    left: 440px;
    /*background-color: deeppink;*/
}
#timer_public {
    font-size: 170px;
    color: white;
    /*background-color: #99fe00;*//**//*(green)*/
    /*background-color: #f4d75f;*//**//*(orange)*/
    /*background-color: #fd030d;*//**//*(red)*/
    /*background-color: hotpink;*/
}
#country_name {
    font-size: 75px;
    color: white;
    /*margin-left: 20px;*/
    /*background-color: lightpink;*/
}
/*speakerArea*/
#speakerArea {
    position: absolute;
    width: 640px;
    height: 863px;
    top: 0px;
    left: 1280px;
    border-bottom: 1px solid white;
    /*background-color: green;*/
}
#speakerArea h1 {
    font-size: 50px;
    color: white;
    text-align: center;
}
#speakerArea p {
    font-size: 40px;
}
#listOfCountries {
    margin-top: 100px;
    margin-left: 150px;
    color: white;
    font-size: 30px;
    /*background-color: greenyellow;*/
}
/*logoArea*/
#logoArea {
    position: absolute;
    width: 1920px;
    height: 216px;/*(1080/5-2, or the bottom 1/5 of the window -2px for the border)*/
    top: 864px;
    left: 0px;
    /*background-color: brown;*/
}
#en, #fr, #ge, #ru {
   /*float: left;
   width: 25%;
   height: 216px;
   position: relative;*/
}
#en img, #fr img, #ge img, #ru img {
    float: left;
    height: 135px;
    /*position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)*/
    padding: 38px;
}
