body {
    margin: 0px;
}
#container {
    position: relative;
}
#timerConsole, #speakerConsole-all, #speakerConsole-list, #speakerConsole-currentSpeaker {
    position: absolute;
    height: 720px;
    margin-left: 2px;
    margin-top: 2px;
    text-align: center;
    border: 5px solid black;
    font-family: Arial, Helvetica, sans-serif;
}
#timerConsole {
    width: 490px;
}
#timerConsole table {
    width: 100%;
    border-collapse: collapse;
}
#timerConsole table,
#timerConsole th,
#timerConsole td {
    border: 1px solid black;
}
#timerConsole td {
    padding: 5px;
    width: 25%;
}
#box_green, #box_orange, #box_red {
    width: 20px;
    height: 20px;
    border: 2px solid black;
}
#colorDivs div {
    margin-left: auto;
    margin-right: auto;
}
#A, #A1, #A2 {
    font-weight: bold;
    font-size: 25px;
}
#A {
    font-size: 50px;
}
#timerConsole #b_t_up, #b_t_down, #b_s_up, #b_s_down {
    width: 75px;
    height: 75px;
}
#timerConsole #b_start, #b_pause, #b_repeat {
    width: 100px;
    height: 100px;
}
#timerConsole #openPublic, #closePublic {
    width: 170px;
    height: 25px;
}
#colorDivs {
    border-collapse: collapse;
}
#speakerConsole-all, #speakerConsole-list {

}
#speakerConsole-all {
    width: 420px;
    left: 505px;
    top: 0px;
    background-color: white;
}
#speakerConsole-all table {
    table-layout: fixed;
    padding: 5px;
    border-collapse: collapse;
}
#speakerConsole-all table td {
    border: 1px solid black;
}
#Albania, #Andorra {
    width: 50%;
}
#speakerConsole-currentSpeaker, #speakerConsole-list {
    width: 270px;
    left: 934px;
    background-color: #00365b;
    color: white;
    border-left: 0px solid black;
}
#speakerConsole-currentSpeaker {
    height: 150px;
    background-color: deeppink;
    top: 0px;
}
#speakerConsole-list {
    height: 570px;
    top: 150px;
}




#template {
    position: absolute;
    left: 0px;
    top: 750px;
}